.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
.groceryItems {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}
.itemCard {
  height: 10rem;
  width: 10rem;
  border: 1px solid black;
  padding: 1rem;
  background-color: steelblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  letter-spacing: 2.5px;
  line-height: 1.75rem;
}
.itemCard:hover {
  transform: scale(1.05);
  transition: 0.075s ease-in-out all;
}
.cart {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.btn {
  background-color: lightgoldenrodyellow;
  border-style: none;
  border-radius: 10%;
  font-size: 1rem;
  padding: 0.25rem;
  width: 2rem;
}
.btn:hover {
  cursor: pointer;
  background-color: goldenrod;
}
